<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="index.asp" />
            </files>
        </defaultDocument>
    </system.webServer>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <trace enabled="true" pageOutput="true" requestLimit="20"/>
  </system.web>
</configuration>
